<div class="container">
  <div class="row mb-3">
    <div class="col-2">
      <button class="btn btn-primary">Vissza</button>
    </div>
    <div class="col-10">
      <p>Random hosszú szöveg a foglalás menetéről és hogy hova utalják a pénzt ndlknfs jr ilsfflsjlkfj sjl jlkdjkj lkj dsslajd
      sdaklsdlkaj aldksjlkjkdlakd alkdkjsldjlal apo űpwoei cékk a isadkjkljsd</p>
    </div>
  </div>

  <form>
    <div class="form-group row mb-5">
      <label class="col-sm-2 col-form-label" for="lastName">Vezetéknév: </label>
      <div class="col-6">
        <input type="text" class="form-control" id="lastName" placeholder="Nagy">
      </div>
      <label class="col-sm-2 col-form-label ml-4" for="numOfNights">Éjszakák száma:</label>
      <div class="col-1">
        <input type="number" min="1" step="1" class="form-control" value="2" id="numOfNights">
      </div>
    </div>

    <div class="form-group row mb-5">
      <label class="col-sm-2 col-form-label" for="firstName">Keresztnév: </label>
      <div class="col-6">
        <input type="text" class="form-control" id="firstName" placeholder="János">
      </div>
      <label class="col-sm-2 col-form-label ml-4" for="numOfAdults">Felnőttek száma:</label>
      <div class="col-1">
        <input type="number" min="1" max="6" step="1" class="form-control" value="2" id="numOfAdults">
      </div>
    </div>

    <div class="form-group row mb-5">
      <label class="col-sm-2 col-form-label" for="mobileNum">Vezetéknév: </label>
      <div class="col-6">
        <input type="text" class="form-control" id="mobileNum" placeholder="06201236547">
      </div>
      <label class="col-sm-2 col-form-label ml-4" for="numOfChildren">Gyerekek száma:</label>
      <div class="col-1">
        <input type="number" min="0" step="1" max="4" class="form-control" value="0" id="numOfChildren">
      </div>
    </div>

    <div class="form-group row mb-5">
      <label class="col-sm-2 col-form-label" for="email">E-mail cím: </label>
      <div class="col-6">
        <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
      </div>
      <label class="col-sm-2 col-form-label ml-4" for="numOfBedrooms">Hálószobák száma:</label>
      <div class="col-1">
        <input type="number" min="1" max="2" step="1" class="form-control" value="1" id="numOfBedRooms">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-4">
      <span>Átutalandó összeg:</span>
      <span></span>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Megerősítés</button>
    </div>
  </div>
</div>
