mat-spinner{
  margin: auto;
}

.btn-save{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.btn-cancel{
  position: fixed;
  bottom: 0;
  margin: 25px;
}

label{
  font-weight: bold;
}

