<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onHouse()">HOUSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSauna()">SAUNA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onPark()">PARK</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br>

<div [ngSwitch]="state">
  <div *ngSwitchCase= "'park'" >
    <img *ngFor="let parkImage of parkImages" src={{parkImage.name}}>
  </div>
  <div *ngSwitchCase= "'sauna'" >
    <img *ngFor="let saunaImage of saunaImages" src={{saunaImage.path}}>
  </div>
  <div *ngSwitchCase= "'house'">
    <img *ngFor="let houseImage of houseImages" src={{houseImage.path}}>
  </div>
</div>
