<ul class="prices">
  <li>Ennyi meg annyi embernek 10000Ft</li>
  <li>Ennyibe meg annyiba kerül, így meg úgy</li>
</ul>

<h1>
  Az ár tartalmazza:
</h1>

<ul class="prices">
  <li>Random dolgok ff</li>
  <li>Randoolgok</li>
  <li>Random dolgok ff</li>
  <li>Randomadlkmakd dolgok</li>
  <li>Random dolgoddk ff</li>
  <li>Ranydékaéldkéladom dolgok</li>
  <li>Randolgok ff</li>
  <li>Random dolgok</li>
  <li>olgok ff</li>
  <li>Random dok</li>
  <li>Random dolgok ff</li>
  <li>Randoaolgok</li>
</ul>
