.big{
  width: 2em;
  height: 2em;
  margin-left: 20px;
}

.label1{
  font-size: 40px;
  margin-left: 15px;
}

.label2{
  font-size: 40px;
  margin-left: 300px;
  margin-right: 60px;
}

div{
  margin-top: 20px;
}

.form-control{
  width: 200px;
  display: inline;
}

button{
  margin-left: 30px;
}
