.delete{
  margin-right: 20px;
}

mat-spinner {
  margin: auto;
}

.address{
  font-weight: bold;
  padding-left: 32px;
}

.details{
  font-weight: bold;
  padding-left: 75px;
}

.paid{
  color: green;
  background: aquamarine;
  text-align: center;
  border-radius: 25px;
}

.notPaid{
  color: red;
  background: darksalmon;
  text-align: center;
  border-radius: 25px;
}

a{
  cursor: pointer;
}

.new-voucher-button{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.paginator{
  position: fixed;
  bottom: 0;
  margin: 25px;
  background: lightblue;
}
