<div class="container m-5">
  <div class="row">
    <div class="wrap">
      <img src="assets/park/park1.jpg">
    </div>
    <div class="col-6">
      <h2>Ajándékutalvány díszdobozban</h2>
      <p>Lepje meg szeretteit egy ilyen nagyon nagyon jó ajándékutalvánnyal stb stb ez húúú de szuper meg nagyon jó.</p>
      <ul>
        <li>A díszdobozért és csomagolásért plusz díjat nem számolunk fel</li>
        <li>Postázás költségeit is mi álljuk</li>
      </ul>
      <button class="btn btn-primary">Tovább</button>
    </div>
  </div>
</div>
